$base-color: rgb(8, 74, 196);
$important-color: rgb(35, 8, 105);
$warning-color: rgb(57, 199, 235);

$main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$principal-font: monospace;
$secondary-font:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$shadowbox: 10px 10px 15px black;

$border: 3%;