$base-color: rgb(176, 26, 26);
$important-color: rgb(88, 35, 35);
$warning-color: rgb(193, 129, 140);

$main-font: 'Franklin Gothic Medium', 'Arial Narrow';
$principal-font: 'Lucida Sans', 'Lucida Sans Regular';
$secondary-font:  Impact, Haettenschweiler;
$shadowbox: -10px 10px 15px black;

$border: 0%;