<div class="login-container">
  <div class="default-credentials">
    <p><strong>Usuario:</strong> {{ defaultUsername }}</p>
    <p><strong>Contraseña:</strong> {{ defaultPassword }}</p>
  </div>
  <mat-card class="login-card">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="userName" placeholder="user" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          formControlName="passWord"
          placeholder="1234"
        />
      </mat-form-field>

      <!-- Botón con spinner al lado -->
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading" >
        <span *ngIf="!isLoading">Login</span>
        <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
      </button>
      
    </form>

    <!-- Mensaje de error en caso de login incorrecto -->
    <div *ngIf="loginError" class="error-text">
      Usuario o contraseña incorrectos
    </div>
  </mat-card>
</div>
